* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  height: 1000vh;
  p {
    height: 10vh;
    color: red;
    font-size: 30px;
    background-color: #444;
    // transition-duration: 100ms;
    // transition-property: all;
    // transition-timing-function: ease-in;
  }
}
