@font-face {
  font-family: 'Gravity';
  src: url('/fonts/Gravity-Book.otf');
}
@font-face {
  font-family: 'Madeleina-sans';
  src: url('/fonts/Madeleina-Sans.otf');
}
@font-face {
  font-family: 'Quarca';
  src: url('/fonts/QuarcaCondRegular.otf');
}
@font-face {
  font-family: '28_Days';
  src: url('/fonts/28_Days_Later.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.otf');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #eee;
}
// Class for disabling text selection
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
