* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  height: 1000vh;
  p {
    height: 10vh;
    color: red;
    font-size: 30px;
    background-color: #444;
    // transition-duration: 100ms;
    // transition-property: all;
    transition-timing-function: ease-in;
  }
  #test1 {
    height: 200px;
    font-size: 30px;
    // background-color: green;
  }
  #test2 {
    height: 200px;
    font-size: 30px;
    // background-color: red;
  }
  #test3 {
    height: 200px;
    font-size: 30px;
    // background-color: green;
  }
  #test4 {
    height: 200px;
    font-size: 30px;
    // background-color: red;
  }
}
