@import '../auth-mixins.scss';

.sign-in-page {
  @include auth-page();
}

.sign-in-form {
  @include auth-form();
  h2 {
    padding-bottom: 2%;
  }
  input {
    margin-bottom: 5%;
    margin-top: 5%;
  }
}

.form-submit-btn {
  @include form-submit-btn();
}
