.about-page {
  height: 100vh;
  background-color: #000;
}
.about-cover {
  height: 100%;
  &-image {
    background-color: #000;
    background-image: url('../../../assets/images/about-cover.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
  }
  h1 {
    color: #fff;
    font-family: 'Madeleina-sans';
    font-size: 5vmin;
    left: 4%;
    position: absolute;
    top: 40%;
  }
  p {
    bottom: 35%;
    color: #fff;
    font-family: 'Madeleina-sans';
    font-size: 3vmin;
    height: 10vh;
    left: 4%;
    position: absolute;
    width: 30%;
  }
}

@media (max-width: 450px) {
  .about-page {
    height: 100vh;
    background-color: #141027;
  }
  .about-cover {
    height: 50%;
    &-image {
      background-image: url('../../../assets/images/about-mobile.jpg');
      background-size: cover;
    }
    h1 {
      position: static;
      text-align: center;
      font-size: 8vmin;
      padding: 5% 0;
    }
    p {
      position: static;
      text-align: center;
      padding: 5% 10%;
      width: auto;
      font-size: 4vmin;
    }
  }
}
