@import '../TrendingMenu/TrendingMenu.scss';
.popularMenu {
  position: relative;
  z-index: 1;
  top: 60vh;
  height: 100vh;
  width: 100%;
  h3 {
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 4vmin;
    font-family: Gravity;
    font-weight: 200;
  }
  .PI-grid {
    display: grid;
    margin: 0 10%;
    padding: 10% 0;
    grid-row-gap: 15vh;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    li {
      position: relative;
      text-align: center;
      list-style: none;
      height: 40vh;
      width: 15vw;
      background-repeat: no-repeat;
      background-size: 100% 80%;
      button {
        visibility: hidden;
      }
      a {
        position: absolute;
        background-color: #fff;
        bottom: -10%;
        left: 0;
        text-decoration: none;
        color: black;
        font-size: 2.5vmin;
        text-align: left;
        font-family: 'Madeleina-sans','Sans-serif';
        word-wrap: break-word;
      }
      &:hover {
        button {
          visibility: visible;
          @include add-to-cart-button();
          font-size: 2vmin;
          bottom: 25%;
          min-width: 40%;
          &:hover {
            background-color: #000;
            color: white;
          }
        }
        .popularDetailsBtn {
          bottom: 10%;
        }
        .onHoverDiv {
          background-color: #000;
          opacity: 0.5;
          height: 100%;
          width: 100%;
          transition-property: background;
          transition-duration: 400ms;
        }
      }
    }
  }
}
