@import '../TrendingMenu/TrendingMenu.scss';

$main-color: #ff8f27;
$hover-color: #c06b1b;

.popular-menu {
  &-title {
    font-family: Gravity;
    font-size: 4.5vmin;
    font-weight: 200;
    padding: 5% 0;
    text-align: center;
    font-family: Madeleina-sans;
  }
}

.product-grid {
  background-color: #fff;
  display: grid;
  grid-row-gap: 15vh;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  margin: 0 10% 10% 10%;
  padding: 3% 0;
}

.popular-grid-item {
  background-repeat: no-repeat;
  background-size: 100% 80%;
  height: 40vh;
  list-style: none;
  text-align: center;
  width: 15vw;
  position: relative;
  .popular-item-name {
    background-color: #fff;
    bottom: -10%;
    color: #000;
    font-family: 'Madeleina-sans', 'Sans-serif';
    font-size: 2.5vmin;
    left: 0;
    text-align: left;
    text-decoration: none;
    position: absolute;
    word-wrap: break-word;
  }
  .popular-item-overlay {
    visibility: hidden;
  }
  &:hover {
    .popular-item-overlay {
      background-color: #4444;
      visibility: visible;
      height: 100%;
      transition-property: background;
      transition-duration: 400ms;
      width: 100%;
    }
  }
}

.popular-fetching {
  background-color: #fff;
  height: 40vh;
  margin: 0 3% 5% 3%;
  position: relative;
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmin;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;
  }
}
