@import '../../../utils/auth.scss';

.sign-in-page {
  @include auth-page();
}

.sign-in-form {
  @include auth-form();
  h2 {
    padding-bottom: 7%;
    padding-top: 7%;
  }
  input {
    margin-bottom: 5%;
    margin-top: 5%;
  }
  // .auth-input is in auth.scss
}

.form-submit-btn {
  @include form-submit-btn();
}

.sign-in-error {
  color: #f00;
  font-size: 1.8vmin;
  text-align: center;
}
