@import '../../../utils/auth.scss';

.sign-in-page {
  @include auth-page();
}

.sign-in-form {
  @include auth-form();
  h2 {
    padding-bottom: 7%;
    padding-top: 7%;
  }
  input {
    margin-bottom: 5%;
    margin-top: 5%;
  }
}

.form-submit-btn {
  @include form-submit-btn();
}

.sign-in-error {
  color: #f00;
  font-size: 1.8vmin;
  text-align: center;
}

#test-account {
  color: #fab677;
  padding-left: 5%;
  font-weight: 600;
}

@media (max-width: 767px) {
  #test-account {
    font-size: 3vmin;
  }
}
