$footer-text-color: #bbb;
$footer-text-color-hover: #ff8f27;
footer {
  background-color: #000;
  color: #fff;
  display: grid;
  grid-template-columns: 30% 20% 50%;
  grid-template-rows: auto;
  width: 100%;
}

.footer-social {
  height: 60%;
  grid-row: 1/2;
  grid-column: 1/2;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  h4 {
    font-size: 3vmin;
    text-align: center;
  }
  .footer-icons {
    display: flex;
    justify-content: center;
    width: 100%;
    li {
      padding: 0 2%;
      font-size: 1.5vmin;
      a {
        img {
          height: 4.5vh;
          width: 2.5vw;
        }
      }
    }
  }
}

.footer-info {
  grid-row: 1/2;
  grid-column: 2/3;
  list-style: none;
  padding-bottom: 10%;
  padding-top: 15%;
  li {
    font-size: 1.5vmin;
    padding: 3%;
    a {
      color: $footer-text-color;
      text-decoration: none;
      &:hover {
        color: $footer-text-color-hover;
      }
    }
  }
}

.footer-important {
  grid-row: 1/2;
  grid-column: 3/4;
  padding: 5% 10% 0 0;
  h3 {
    color: #f00;
    font-size: 3vmin;
    padding-bottom: 3%;
  }
  p {
    color: $footer-text-color;
    font-size: 2.3vmin;
  }
}
// ---------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------------------
@media (max-width: 767px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr 2fr;
  }
  .footer-info {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 0;
    text-align: center;
    li {
      font-size: 2.5vmin;
      padding: 3%;
    }
  }
  .footer-social {
    grid-row: 2/3;
    grid-column: 1/2;
    height: fit-content;
    justify-self: center;
    width: 60%;
    padding: 2% 0;
    h4 {
      display: none;
    }
    .footer-icons {
      display: flex;
      justify-content: space-between;
      li {
        padding: 0;
        a {
          position: static;
          img {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
  .footer-important {
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
    padding: 0 5%;
    h3 {
      font-size: 3vmin;
      padding-bottom: 3%;
    }
    p {
      font-size: 2.5vmin;
    }
  }
}
