$footer-text-color: #bbb;
$footer-text-color-hover: #ff8f27;
footer {
  background-color: #000;
  color: #fff;
  display: grid;
  grid-template-columns: 30% 20% 50%;
  grid-template-rows: auto;
  height: auto;
  // margin-top: 20vh;
  width: 100%;
}

.footer-social {
  grid-row: 1/2;
  list-style: none;
  padding-top: 15%;
  h4 {
    bottom: 10%;
    font-size: 3vmin;
    position: relative;
    text-align: center;
  }
  li {
    display: inline;
    font-size: 1.5vmin;
    padding: 3%;
    a {
      left: 25%;
      position: relative;
      top: 25%;
      img {
        height: 3.5vh;
        width: 1.8vw;
      }
    }
  }
}

.footer-info {
  grid-row: 1/2;
  list-style: none;
  padding-bottom: 10%;
  padding-top: 15%;
  li {
    font-size: 1.5vmin;
    padding: 3%;
    a {
      color: $footer-text-color;
      text-decoration: none;
      &:hover {
        color: $footer-text-color-hover;
      }
    }
  }
}

.footer-important {
  grid-row: 1/2;
  padding-top: 5%;
  h3 {
    color: #f00;
    font-size: 3vmin;
    padding-bottom: 3%;
  }
  p {
    color: $footer-text-color;
    font-size: 2.5vmin;
  }
}
