.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle-border {
  align-items: center;
  animation: spin 0.8s linear 0s infinite;
  background: #3ff9dc;
  background: linear-gradient(0deg, #93e0d51a 33%, #ff8f27 100%);
  border-radius: 50%;
  display: flex;
  height: 5vh;
  justify-content: center;
  margin: auto;
  padding: 0.5vmin;
  width: 5vh;
}

.circle-core {
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
