@import '../auth.scss';

.sign-up-page {
  @include auth-page();
}

.sign-up-form {
  @include auth-form();
}

.form-submit-btn {
  @include form-submit-btn();
}

.signup-successful {
  height: 40vh;
  position: relative;
  text-align: center;
  h1 {
    color: #ff8f27;
    font-size: 3.5vmin;
    left: 50%;
    position: absolute;
    top: 10%;
    transform: translateX(-50%);
    width: 100%;
  }
  p {
    color: #ff8f27;
    font-family: 'Madeleina-sans';
    font-size: 3.5vmin;
    height: 20%;
    left: 50%;
    position: absolute;
    top: 65%;
    transform: translateX(-50%);
    width: 100%;
  }
}

.check-icon {
  color: #0baf0b;
  font-size: 8vmin;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
}
