@mixin details-button {
  background-color: #cccc;
  border-radius: 5%;
  bottom: 5vh;
  cursor: pointer;
  display: block;
  font-size: 2vmin;
  left: 50%;
  padding: 3% 6%;
  position: absolute;
  transform: translateX(-50%);
}
@mixin trending-items($bg-image, $bg-image-hover, $grid-column) {
  background-image: url($bg-image);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  grid-column: $grid-column;
  justify-self: center;
  list-style: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  width: 40%;
  button {
    display: none;
  }
  p {
    bottom: -20%;
    color: #fff;
    font-family: Quarca;
    font-size: 2.5vmin;
    position: absolute;
  }
  // Fix for :hover when hovering over p tag
  &:after {
    content: '';
    position: absolute;
    bottom: -20%;
    height: 10vh;
    width: 20vw;
  }
  &:hover {
    background-image: url($bg-image-hover);
    background-size: 100% 100%;
    height: 100%;
    transition-duration: 300ms;
    transition-property: height, width;
    width: 100%;
    p {
      visibility: hidden;
    }
    button {
      @include details-button();
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

.trending-menu {
  position: relative;
  #trending {
    &-text {
      background-color: #0000;
      color: #fff;
      font-family: '28_Days';
      font-size: 3vmin;
      left: 1vw;
      position: absolute;
      top: 3vh;
      z-index: 1;
    }
    &-image {
      height: 60vh;
      position: absolute;
      width: 100%;
    }
  }
}
.trending-menu-items {
  background-image: url('../../assets/images/gradient.png');
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  height: 60vh;
  width: 100%;
  cursor: pointer;
  #trending-item {
    // background-image, grid-column
    &-1 {
      @include trending-items('../../assets/images/trending-1.png', '../../assets/images/trending-1-hover.png', 1/2);
    }
    &-2 {
      @include trending-items('../../assets/images/trending-2.png', '../../assets/images/trending-2-hover.png', 2/3);
    }
    &-3 {
      @include trending-items('../../assets/images/trending-3.png', '../../assets/images/trending-3-hover.png', 3/4);
    }
  }
}
