.store {
  // height: 400vh;
  background-color: #eee;
  .shopCover {
    position: relative;
    height: 80vh;
    width: 100%;
    background-image: url('../../assets/images/shop-cover.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    h3 {
      position: absolute;
      width: 15vw;
      font-size: 5vmin;
      color: #fff;
      bottom: 35%;
      left: 8%;
    }
  }
  .store-grid-container {
    height: 200vh;
    display: grid;
    grid-template-columns: 20% 80%;
    .store-grid-categories {
      margin: 20%;
      ul {
        list-style-position: inside;
        list-style: none;
        .store-grid-categories-first-li {
          background-color: #222;
          font-weight: 900;
          color: #fff;
          font-family: Gravity, Arial, Helvetica, sans-serif;
          font-size: 2vmin;
          padding: 1vh;
        }
        .category-list-items {
          background-color: #fff;
          color: black;
          font-family: Gravity, Arial, Helvetica, sans-serif;
          font-size: 1.9vmin;
          padding: 1vh;
          a {
            text-decoration: none;
          }
          &::after {
            content: '›';
            position: absolute;
            left: 15%;
            vertical-align: middle;
            vertical-align: middle;
          }
          &:hover {
            background-color: #333;
            color: white;
            font-weight: 800;
          }
        }
      }
    }
    .store-grid-products {
      margin: 5% 10% 0 5%;
      height: 100%;
      width: auto;
      height: 100vh;
      font-family: 'Madeleina-sans', Arial, Helvetica, sans-serif;
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
        li {
          background-color: white;
          list-style: none;
          padding: 3%;
          a {
            text-decoration: none;
            color: black;
            .store-grid-products-info {
              position: relative;
              margin: auto;
              width: 15vw;
              img {
                display: block;
                margin: auto;
                height: 30vh;
                width: 100%;
              }
              .store-grid-products-info-text {
                width: 100%;
                height: 10vh;
                margin: auto;
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 1fr 1fr;
                p {
                  // name
                  grid-column: 1/2;
                  grid-row: 1/2;
                  padding-top: 5%;
                  font-size: 2vmin;
                  align-self: end;
                  &:nth-child(2n) {
                    // price
                    top: 10vh;
                    grid-column: 1/2;
                    grid-row: 2/3;
                    font-size: 2.5vmin;
                  }
                }
                button {
                  grid-column: 2/3;
                  grid-row: 1/2;
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  width: 35%;
                  height: 5vh;
                  border-radius: 5%;
                  font-size: 1.7vmin;
                  padding: 2%;
                  &:hover {
                    background-color: #000;
                    color: #fff;
                  }
                }
              }
              // store-grid-products-info-text
              &:hover {
                color: red;
                .store-grid-products-info-onHover {
                  background-color: #000;
                  opacity: 0.1;
                  position: absolute;
                  height: 30vh;
                  width: 100%;
                  transition-property: background;
                  transition-duration: 400ms;
                }
              }
            }
          }
        }
      }
    }
  }
}
