$main-text-color: #dc6180;
$main-background-color: #32364a;
@import '../App.scss'; // Placeholder mixin
@mixin auth-page {
  background-color: #000c;
  height: 100vh;
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 1;
}
@mixin auth-form {
  background: linear-gradient(45deg, $main-background-color 0%, #1f222e 100%);
  border-top: 0.3vh $main-text-color solid;
  height: fit-content;
  left: 55%;
  position: relative;
  top: 50%;
  transform: translate(-55%, -50%);
  width: 30%;
  z-index: 1;

  h2 {
    color: $main-text-color;
    font-family: 'Madeleina-sans';
    font-family: Inter, sans-serif;
    font-size: 5vmin;
    padding: 10% 5%;
    text-align: center;
  }
  .a-like {
    color: #f69cb3;
    cursor: pointer;
    padding: 0 0 0 5%;
    text-decoration: underline;
  }
}
@mixin form-submit-btn {
  background: #313547;
  border-radius: 25px;
  border: 0.4vmin solid $main-text-color;
  color: $main-text-color;
  cursor: pointer;
  font-size: 3vmin;
  height: 5vh;
  margin: 5% 25%;
  width: 50%;
  &:hover {
    background-color: $main-text-color;
    color: #313547;
  }
  &:focus {
    outline: none;
  }
}

.auth-input {
  @include placeholder(#aa4d64ab);
  background: $main-background-color;
  border-bottom: 1px solid #8a3d50;
  border-radius: 2px;
  border-top: 1px solid #8a3d50;
  box-sizing: border-box;
  color: $main-text-color;
  font-size: 2.3vmin;
  height: 5vh;
  padding-left: 10%;
  width: 100%;

  &:focus {
    border-bottom: 3px solid $main-text-color;
    outline: none;
    transition: all 500ms;
  }
  &-error {
    background: $main-background-color;
    border-bottom: 1px solid #8a3d50;
    border-radius: 2px;
    border-top: 1px solid #8a3d50;
    box-sizing: border-box;
    color: $main-text-color;
    font-size: 2.3vmin;
    height: 5vh;
    padding-left: 10%;
    width: 100%;
    &:focus {
      border-bottom: 3px solid $main-text-color;
      outline: none;
    }
  }
}

.close-icon {
  color: $main-text-color;
  cursor: pointer;
  font-size: 4vmin;
  position: absolute;
  right: 5%;
  top: 4%;
  z-index: 2;
}

.input-message {
  color: $main-text-color;
  font-family: 'Madeleina-sans';
  font-size: 2vmin;
  padding: 2% 5% 5% 5%;
  &-error {
    color: #f00;
    font-family: 'Madeleina-sans';
    font-size: 2vmin;
    font-weight: 900;
    padding: 2% 5% 5% 5%;
  }
}
