@mixin form-styling {
  color: #fff;
  position: absolute;
  top: 2%;
  width: 50%;
  h4 {
    font-size: 2.5vmin;
    padding: 1vh 0;
  }
  input {
    display: block;
    font-size: 3vmin;
    height: 4vh;
    width: 43vw;
  }
  button {
    background-color: #008080;
    font-size: 3vmin;
    height: 8vh;
    margin: 1.5%;
    width: 20vw;
    &:hover {
      background-color: #0ff;
    }
  }
  .edit-delete-btn {
    background-color: #f00;
    &:hover {
      background-color: #ff4242;
    }
  }
}

.edit-form {
  background-color: #10363b;
  height: 100vh;
  position: relative;
}

.product-edit {
  @include form-styling();
  padding-left: 3%;
}

.category-edit {
  @include form-styling();
  left: 50%;
}
