@mixin form-styling {
  position: absolute;
  width: 50%;
  top: 5%;
  h4 {
    font-size: 2.5vmin;
    padding: 1vh 0;
  }
  input {
    height: 5vh;
    font-size: 3vmin;
    display: block;
    width: 43vw;
  }
  button {
    margin-top: 5%;
    margin-right: 5%;
    padding: 5%;
    width: 20vw;
    background-color: teal;
    font-size: 3vmin;
  }
  .edit-delete-btn {
    background-color: red;
  }
}
.edit-form {
  position: relative;
  background-color: #999;
  height: 100vh;
  .product-edit {
    padding-left: 3%;
    @include form-styling();
  }
  .category-edit {
    left: 50%;
    @include form-styling();
  }
}
