.slideshow {
  background-size: cover;
  height: 100vh;
  transition-duration: 400ms;
  transition-property: background;
  transition-timing-function: ease-in;
  width: 100%;
}
.slideshow-text {
  color: #000;
  font-family: Gravity, 'Times New Roman', Times, serif;
  font-size: 3vmin;
  width: 30%;
}
