.main-nav-bar {
  background-color: #0004;
  display: flex;
  font-size: 2vmin;
  font-family: Quarca;
  position: relative;
  height: 6vh;
  // Forces text to be in one line
  overflow: hidden;
  white-space: nowrap;
  #logo {
    position: absolute;
    left: 3vw;
    color: red;
    align-self: center;
    list-style: none;
  }
  .center-main-nav-bar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    li {
      list-style: none;
      // padding: 0 10%;
      margin: 0 10%;
      a {
        display: block;
        color: white;
        width: 100%;
        text-decoration: none;
        &:hover {
          color: red;
        }
      }
    }
  }

  .end-main-nav-bar {
    position: absolute;
    right: 5vw;
    display: flex;
    align-self: center;
    align-items: center;
    li {
      list-style: none;
      margin: 0 10%;
      a {
        display: block;
        color: white;
        width: 100%;
        text-decoration: none;
        font-size: 1.8vmin;
        .signup-btn {
          padding: 1vmin 2vmin;
          background-color: #fff;
          // Added so the items don't move on click
          box-sizing: border-box;
          border-radius: 3%;
          &:hover {
            color: red;
            background-color: #000;
            color: #fff;
          }
        }
        &:hover {
          color: red;
        }
      }
    }
  }
}
