#logo {
  align-self: center;
  left: 3vw;
  list-style: none;
  position: absolute;
}
.nav-bar-container {
  position: fixed;
  width: 100%;
  z-index: 5;
}
.main-nav-bar {
  background-color: #0004;
  display: flex;
  font-family: Quarca;
  font-size: 2vmin;
  height: 6vh;
  overflow: hidden;
  white-space: nowrap;
}
.main-nav-bar-center {
  align-items: center;
  display: flex;
  margin: 0 auto;
  li {
    list-style: none;
    margin: 0 10%;
    a {
      color: #fff;
      display: block;
      text-decoration: none;
      width: 100%;
    }
    &:hover {
      border: 1px solid #f00;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      padding-bottom: 0.8vh;
      transition: all 0.5s;
      a {
        color: #f00;
      }
    }
  }
}
.main-nav-bar-end {
  align-items: center;
  align-self: center;
  display: flex;
  position: absolute;
  right: 5vw;
  li {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.8vmin;
    list-style: none;
    margin: 0 10%;
    text-decoration: none;
    width: 100%;
    &:hover {
      color: #f00;
    }
  }
}
.signup-btn {
  background-color: #fff;
  border-radius: 3%;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.6vmin;
  padding: 1vmin 2vmin;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}
