$main-color: #ff8f27;
@mixin nav-bar-icons {
  color: #fff;
  cursor: pointer;
  font-size: 2.5vmin;
  margin-left: 4vw;
  &:hover {
    color: $main-color;
    transition: color 300ms;
  }
  @media (max-width: 767px) {
    font-size: 4vmin;
    margin-left: 8vw;
  }
}
#logo {
  align-self: center;
  left: 3vw;
  list-style: none;
  position: absolute;
}
.nav-bar-container {
  position: fixed;
  width: 100%;
  z-index: 5;
}
.main-nav-bar {
  background-color: #0004;
  display: flex;
  font-family: Quarca;
  font-size: 2vmin;
  height: 6vh;
  overflow: hidden;
  white-space: nowrap;
}
.main-nav-bar-center {
  align-items: center;
  display: flex;
  margin: 0 auto;
  li {
    list-style: none;
    margin: 0 10%;
    a {
      color: #fff;
      display: block;
      text-decoration: none;
      width: 100%;
    }
    &:hover {
      border: 1px solid $main-color;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      padding-bottom: 0.8vh;
      transition: all 0.5s;
      a {
        color: $main-color;
      }
    }
  }
}
.main-nav-bar-end {
  align-items: center;
  align-self: center;
  display: flex;
  position: absolute;
  right: 5vw;
  li {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.8vmin;
    list-style: none;
    margin: 0 10%;
    text-decoration: none;
    transition: color 300ms;
    width: 100%;
    &:hover {
      color: $main-color;
    }
  }
}
.signup-btn {
  background-color: #fff;
  border-radius: 3%;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.6vmin;
  padding: 1vmin 2vmin;
  &:hover {
    background-color: #000;
    color: #fff;
    transition: all 300ms;
  }
}

.cart-icon {
  @include nav-bar-icons();
  position: relative;
  &-number {
    background-color: #ff4747;
    border-radius: 50%;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3vmin;
    height: 2vmin;
    left: 85%;
    line-height: 2vmin;
    position: absolute;
    text-align: center;
    top: -20%;
    width: 2vmin;
  }
}

.user-icon {
  @include nav-bar-icons();
  .user-dropdown-menu {
    display: none;
  }
  &:hover {
    .user-dropdown-menu {
      background-color: #ddd;
      display: flex;
      flex-direction: column;
      height: 15vh;
      justify-content: space-evenly;
      left: 10%;
      position: absolute;
      top: 5vh;
      width: 100%;
      z-index: 1;
      &:before {
        background-color: #ddd;
        content: '';
        height: 3vh;
        position: absolute;
        right: 8%;
        top: -5%;
        transform: rotate(45deg);
        width: 3vh;
        z-index: -1;
      }
      &:after {
        content: '';
        height: 10vh;
        opacity: 0;
        position: absolute;
        right: 0;
        top: -20%;
        width: 5vw;
        z-index: -1;
      }
      .dropdown-text {
        color: #333;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.7vmin;
        text-decoration: none;
        i {
          padding-left: 10%;
        }
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}
// ----------------------------------------------------------------------
// ----------------------------------------------------------------------
// ----------------------------------------------------------------------
// ----------------------------------------------------------------------
@media (max-width: 1550px) {
  .dropdown-text {
    font-size: 1.4vmin !important;
  }
}
@media (max-width: 767px) {
  .main-nav-bar-end {
    display: flex;
    position: absolute;
    right: 8vw;
    top: 50%;
    transform: translateY(-50%);
    li {
      font-size: 2.5vmin;
    }
  }
  .signup-btn {
    font-size: 2vmin;
    padding: 8% 3vw;
  }
  .cart-icon-number {
    font-size: 2vmin;
    height: 2.5vmin;
    line-height: 2.5vmin;
    width: 2.5vmin;
  }
  .dropdown-text {
    font-size: 2.3vmin !important;
    i {
      padding-left: 10%;
    }
  }
}
